<configuration>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"/>
    <add key="GooglePlaceApiKey" value="AIzaSyAqqm5ZiCGrQhtH4nWmAuUPLSWwOrzC978"/>
    <add key="GooglePlaceApiKey2" value="AIzaSyBA_S_Tlm-sYJ6i8zOxIt0pHJDTaHZ7BJQ"/>
  </appSettings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>
 